# all files in `docs` dir for github pages
docs/

# all generated assets exept `fonts` dir
src/templates/static/assets/*
!src/templates/static/assets/fonts/

# external modules
node_modules/
resources/
