# all files in `docs` dir for github pages
docs/

# external modules
node_modules/
resources/

# all generated assets exept `fonts`, `favicons` & `media` dirs
src/templates/static/assets/*
!src/templates/static/assets/fonts/
!src/templates/static/assets/favicons/
!src/templates/static/assets/media/
