{
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 140,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.json"],
      "options": {
        "printWidth": 80
      }
    },
    {
      "files": "*.md",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
