<!-- Apple Meta Tags -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}" />

<!-- Windows 8 Meta Tags -->
<meta name="application-name" content="{{ .Site.Title }}" />
<meta name="msapplication-TileColor" content="#2b5797" />
<meta name="msapplication-config" content="{{ .Site.Data.global.favicons.msapplication_config | relURL }}" />

<!-- Android Theme Color -->
<meta name="theme-color" content="#0d0e11" />

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.Data.global.favicons.apple_touch_icon | relURL }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.Data.global.favicons.icon_32x32 | relURL }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.Data.global.favicons.icon_16x16 | relURL }}" />
<link rel="manifest" href="{{ .Site.Data.global.favicons.webmanifest | relURL }}" />
<link rel="shortcut icon" href="{{ .Site.Data.global.favicons.ico | relURL }}" />
