$fonts-path: '../fonts/';

@include font-face('Ortica', bold, 'Ortica Bold', $fonts-path, true);
@include font-face('Ortica', normal, 'Ortica Light', $fonts-path, true);

body {
  font-family: var(--application-base-font);
  font-feature-settings: 'liga' 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
