<footer class="fh-footer">
  <section class="fh-footer-section-message">
    <div class="fh-footer-freedom-logo">
      <!-- prettier-ignore-->
      {{ partial "components/svg-sprite-symbol.html" (dict "name" "freedom") }}
    </div>
    <p class="fh-footer-message">Feel free to drop us a message, you can ask more about our collection and collabs.</p>
    <span class="fh-footer-hr">-</span>
    <p class="fh-footer-message">Or tell us your story.</p>
    <div class="fh-footer-contact-us" data-trigger-contact-us></div>
  </section>
  <section class="fh-footer-bottom-info">
    <div class="fh-footer-bottom-logo">
      <!-- prettier-ignore-->
      {{ partial "components/svg-sprite-symbol.html" (dict "name" "freedomhood") }}
    </div>
    <p class="fh-footer-bottom-title">An out of ordinary creative collab by</p>
    <ul class="fh-footer-bottom-list">
      <li>
        <a href="https://www.instagram.com/ilbrux/" target="_blank" rel="noopener">@mattialonghi</a>
      </li>
      <li>
        <a href="https://www.instagram.com/ventoaduemilametri/" target="_blank" rel="noopener">@valentinatrevisanello</a>
      </li>
      <li>
        <a href="https://www.instagram.com/christianlonghi_/" target="_blank" rel="noopener">@christianlonghi</a>
      </li>
    </ul>
  </section>
</footer>
