<head>
  <meta charset="utf-8" />
  <meta name="description" content="{{ .Description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

  <!-- prettier-ignore -->
  {{ partial "head/meta-og.html" . }}
  {{ partial "head/favicons.html" . }}

  <!-- stylesheet(s) -->
  <link rel="stylesheet" href="{{ .Site.Data.global.stylesheet_path | absURL }}" />

  <!-- fonts (https://www.freecodecamp.org/news/web-fonts-in-2018-f191a48367e8/) -->
  {{ range .Site.Data.global.fonts.files }}
  <link rel="preload" as="font" href="{{ . | absURL }}.woff2" type="font/woff2" crossorigin="anonymous" />
  {{ end }}

  <!-- baseURL -->
  <base href="{{ .Site.BaseURL }}" />

  <!-- analytics -->
  {{ template "_internal/google_analytics_async.html" . }}
  <title>{{ .Title }}</title>
</head>
